{% extends "base.twig" %}

{% block content %}
    <div class="max-w-7xl mx-auto px-2 py-28 text-center">
        <h1 class="text-5xl font-bold text-indigo-800">Page Not Found</h1>
        <p class="text-2xl mt-8">Sorry, we couldn't find what you're looking for.</p>
    </div>
{% endblock %}
